body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section>h2{
    color:red
}
h1{
    color:#d6d7da;
}
#para_1{
display:flex;
justify-content: space-evenly;
color:red;
padding:70px;
}
#para_2{
   color: white;
}
button{
    background-color: rgb(255, 74, 87);
    color: white;
}
.header{
    display: flex;
    justify-content: end;
}
.navi{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.navi a, a{
    color: white;
    text-decoration: none;
}
.navi a:hover{
    color: aqua;
}
#ms{
   text-align: center;
}
.ser{
    display: flex;
    justify-content: space-evenly;
    margin: 36px;
}
.box{
    border: 2px solid rgb(67, 70, 85);
    text-align: center;
    margin: 10px;
    padding: 10px 30px 10px 30px;
    color: white;
}
.box{
    text-align: center;
    height:100%;
}
.box:hover{
    box-shadow: whitesmoke 2px 2px 10px;
}
#mp{
    text-align: center;
}
.btn{
    display: flex;
    justify-content: space-evenly;
    margin-bottom:  20px;
}
.btn>button{
    width: 200px;
}
.images{
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 90px;
}
.img1{
    width: 200px;
    height: 200px;
}
.img1:hover{
    box-shadow:whitesmoke 5px 5px 20px;
}
#para_5{
  color: white;
  text-align: center;
}

.son{
    text-align: center;
}
.AM{
    display: flex;
    justify-content: space-evenly;
}
.am_one>img{
   width: 300px;
   height: 420px;
}
.am_two{
    text-align: start;
}
form input{
    text-align: center;
    background-color: #1f2235;
}

.name{
    margin-top: 20px;
    width: 60%;
    color:#d6d7da;
}
.name2{
    margin-top: 20px;
    width:30%;
    color:#d6d7da;
}
.name3{
    margin-top: 20px;
    padding-bottom:50px;
    padding-right: 550px;
    color:#d6d7da;
}
button{
    padding:10px;
    margin:20px;
    width:100px;
}
button:hover{
    box-shadow:#ff4a57 2px 2px 10px;
}
.pic{
    box-shadow: whitesmoke 2px 2px 10px;
    border: whitesmoke;
    background-color:white;
}
#cu{
    font-size: 20px;
}
.name3:hover{
    box-shadow: whitesmoke 2px 2px 10px;
}
.name2:hover{
    box-shadow: whitesmoke 2px 2px 10px;
}
.name:hover{
    box-shadow: whitesmoke 2px 2px 10px;
}











